wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup*/
wp-content/backups/
wp-content/debug.log
*.log
.DS_Store

# WordPress core
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-admin/
/wp-includes/

/wp-content/index.php
/wp-content/plugins/akismet/
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/themes/

# Local/generated estimates JSON exports
private/estimates-json/
